---
---

@import "{{ site.theme }}";

.button {
background-color: #1c87c9;
border: none;
color: white;
padding: 20px 34px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
}

table, tr, td {
  border: none;
  border-collapse: collapse;
}

table {
  width: 100%;
}

td {
  white-space:pre;
  text-align: right;
  vertical-align: top;
}

tr {
  background-color: #A0A0A0
}

img {
  display: block;
}
